<div>
  <h2 id="page-heading" data-cy="AclSidHeading">
    <span jhiTranslate="securityApp.aclSid.home.title">Acl Sids</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="securityApp.aclSid.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-acl-sid"
        [routerLink]="['/acl-sid/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="securityApp.aclSid.home.createLabel"> Create a new Acl Sid </span>
      </button>
      <select *ngIf="tenants && tenants!.length > 0" (change)="changeShema($event)">
        <option>public</option>
        <option *ngFor="let tenant of tenants">{{ tenant.schema }}</option>
      </select>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aclSids?.length === 0">
    <span jhiTranslate="securityApp.aclSid.home.notFound">No aclSids found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="aclSids && aclSids.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sid"><span jhiTranslate="securityApp.aclSid.sid">Sid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let aclSid of aclSids; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/acl-sid', aclSid.id, 'view']">{{ aclSid.id }}</a>
          </td>
          <td>{{ aclSid.sid }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/acl-sid', aclSid.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/acl-sid', aclSid.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(aclSid)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
