<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aclClass">
      <h2 data-cy="aclClassDetailsHeading"><span jhiTranslate="securityApp.aclClass.detail.title">Acl Class</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ aclClass.id }}</span>
        </dd>
        <dt><span jhiTranslate="securityApp.aclClass.className">Class Name</span></dt>
        <dd>
          <span>{{ aclClass.className }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/acl-class', aclClass.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
