<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aclEntry">
      <h2 data-cy="aclEntryDetailsHeading"><span jhiTranslate="securityApp.aclEntry.detail.title">Acl Entry</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ aclEntry.id }}</span>
        </dd>
        <dt><span jhiTranslate="securityApp.aclEntry.granting">Granting</span></dt>
        <dd>
          <span>{{ aclEntry.granting }}</span>
        </dd>
        <dt><span jhiTranslate="securityApp.aclEntry.aclSid">Acl Sid</span></dt>
        <dd>
          <div *ngIf="aclEntry.aclSid">
            <a [routerLink]="['/acl-sid', aclEntry.aclSid?.id, 'view']">{{ aclEntry.aclSid?.sid }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="securityApp.aclEntry.aclObjectIdentity">Acl Object Identity</span></dt>
        <dd>
          <div *ngIf="aclEntry.aclObjectIdentity">
            <a [routerLink]="['/acl-object-identity', aclEntry.aclObjectIdentity?.id, 'view']">{{ aclEntry.aclObjectIdentity?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="securityApp.aclEntry.aclMask">Acl Mask</span></dt>
        <dd>
          <div *ngIf="aclEntry.aclMask">
            <a [routerLink]="['/acl-mask', aclEntry.aclMask?.id, 'view']">{{ aclEntry.aclMask?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/acl-entry', aclEntry.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
