<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-acl-entry-heading" data-cy="AclEntryCreateUpdateHeading" jhiTranslate="securityApp.aclEntry.home.createOrEditLabel">
        Create or edit a Acl Entry
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="securityApp.aclEntry.aclSid" for="field_aclSid">Acl Sid</label>
          <select class="form-control" id="field_aclSid" data-cy="aclSid" name="aclSid" formControlName="aclSid">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aclSidOption.id === editForm.get('aclSid')!.value?.id ? editForm.get('aclSid')!.value : aclSidOption"
              *ngFor="let aclSidOption of aclSidsSharedCollection; trackBy: trackAclSidById"
            >
              {{ aclSidOption.sid }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="securityApp.aclEntry.aclObjectIdentity" for="field_aclObjectIdentity"
            >Acl Object Identity</label
          >
          <select
            class="form-control"
            id="field_aclObjectIdentity"
            data-cy="aclObjectIdentity"
            name="aclObjectIdentity"
            formControlName="aclObjectIdentity"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                aclObjectIdentityOption.id === editForm.get('aclObjectIdentity')!.value?.id
                  ? editForm.get('aclObjectIdentity')!.value
                  : aclObjectIdentityOption
              "
              *ngFor="let aclObjectIdentityOption of aclObjectIdentitiesSharedCollection; trackBy: trackAclObjectIdentityById"
            >
              {{ aclObjectIdentityOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="securityApp.aclEntry.aclMask" for="field_aclMask">Acl Mask</label>
          <select class="form-control" id="field_aclMask" data-cy="aclMask" name="aclMask" formControlName="aclMask">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aclMaskOption.id === editForm.get('aclMask')!.value?.id ? editForm.get('aclMask')!.value : aclMaskOption"
              *ngFor="let aclMaskOption of aclMasksSharedCollection; trackBy: trackAclMaskById"
            >
              {{ aclMaskOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
